<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.samples.vitorefo.firsta">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_dfeature_a">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

